@model br.com.younityOne.MODEL.NavegacaoMODEL

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="~/Images/profile_small.jpg" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">@Model.NomeUsuario</strong>
                            </span> 
                            <span class="text-muted text-xs block">@Model.CodigoUsuario <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="@Url.Action("Profile", "AppViews")">Profile</a></li>
                        <li><a href="@Url.Action("Contacts", "AppViews")">Contacts</a></li>
                        <li><a href="@Url.Action("Inbox", "Mailbox")">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Login_2", "Pages")">Logout</a></li>
                    </ul>

                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>

            @foreach (var item in Model.Menu)
            {
                <li class="@Html.IsSelected(controller: "Dashboards")">

                    <a href="#"><i class="@item.NomeImagem"></i> <span class="nav-label" data-i18n="nav.graphs">@item.Nome</span><span class="fa arrow"></span></a>

                    <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Dashboards", cssClass: "in")">

                        @foreach (var subMenu in item.SubMenu)
                        {
                            <li class="@Html.IsSelected(action: subMenu.NomeAction)"><a href="@Url.Action(subMenu.NomeAction, subMenu.NomeController)">@subMenu.Nome</a></li>
                        }

                    </ul>
                </li>
            }
            
            <li class="@Html.IsSelected(controller: "Mailbox")">
                <a href="#"><i class="fa fa-envelope"></i> <span class="nav-label" data-i18n="nav.mailbox">Mailbox </span><span class="label label-warning pull-right">16/24</span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Mailbox", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Inbox")"><a href="@Url.Action("Inbox", "Mailbox")">Inbox</a></li>
                    <li class="@Html.IsSelected(action: "EmailView")"><a href="@Url.Action("EmailView", "Mailbox")">Email view</a></li>
                    <li class="@Html.IsSelected(action: "ComposeEmail")"><a href="@Url.Action("ComposeEmail", "Mailbox")">Compose email</a></li>
                    <li class="@Html.IsSelected(action: "EmailTemplates")"><a href="@Url.Action("EmailTemplates", "Mailbox")">Email templates</a></li>
                </ul>
            </li>
           
    </div>
</nav>